# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è: –í–Ω–µ—Å–µ–Ω–Ω—è –æ–Ω–æ–≤–ª–µ–Ω—å –≤ –ë–î —ñ —Ä–æ–±–æ—Ç–∞ –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è–º–∏

–¶–µ –î–ó –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–µ –ø—ñ–¥ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è –Ω–∞ –ª–æ–∫–∞–ª—å–Ω—ñ–π –º–∞—à–∏–Ω—ñ. –í–∏–∫–æ–Ω–∞–Ω–Ω—è –∑ Google Colab –±—É–¥–µ —Å—É—Ç—Ç—î–≤–æ —É—Å–∫–ª–∞–¥–Ω–µ–Ω–µ.

## –ü—ñ–¥–≥–æ—Ç–æ–≤–∫–∞
1. –ü–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ —É –≤–∞—Å –≤—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω—ã –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏:
   ```bash
   pip install sqlalchemy pymysql pandas matplotlib seaborn python-dotenv
   ```

2. –°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ–∞–π–ª `.env` –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –±–∞–∑–∏ –¥–∞–Ω–∏—Ö classicmodels. –ë–∞–∑—É –¥–∞–Ω–∏—Ö –≤–∏ –º–æ–∂–µ—Ç–µ –æ—Ç—Ä–∏–º–∞—Ç–∏ —á–µ—Ä–µ–∑

  - docker-–∫–æ–Ω—Ç–µ–π–Ω–µ—Ä –∑–≥—ñ–¥–Ω–æ —ñ—Å–Ω—Ç—Ä—É–∫—Ü—ñ—ó –≤ [–¥–æ–∫—É–º–µ–Ω—Ç—ñ](https://www.notion.so/hannapylieva/Docker-1eb94835849480c9b2e7f5dc22ee4df9), —Ç–∞–∫–æ–∂ –≤—ñ–¥–µ–æ —ñ–Ω—Å—Ç—Ä—É–∫—Ü—ñ—ó –ø—Ä–∏—Å—É—Ç–Ω—ñ –Ω–∞ –ø–ª–∞—Ç—Ñ–æ—Ä–º—ñ - —É—Ä–æ–∫–∏ "MySQL –±–∞–∑–∏, –∫–ª—ñ—î–Ω—Ç –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –ë–î, Docker —ñ ChatGPT –¥–ª—è –∑–∞–ø–∏—Ç—ñ–≤" —Ç–∞ "–Ø–∫ –≤—Å—Ç–∞–Ω–æ–≤–∏—Ç–∏ Docker –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –±–∞–∑–∞–º–∏ –¥–∞–Ω–∏—Ö –±–µ–∑ —Ç–µ—Ä–º—ñ–Ω–∞–ª—É"
  - –∞–±–æ –≤—Å—Ç–∞–Ω–æ–≤–∏–≤—à–∏ –ª–æ–∫–∞–ª—å–Ω–æ —Ü—é –ë–î - –¥–ª—è —Ü—å–æ–≥–æ –ø–µ—Ä–µ–≥–ª—è–Ω—å—Ç–µ —É—Ä–æ–∫ "–û–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ. –í—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–Ω—è MySQL —Ç–∞  –ë–î –°lassicmodels –ª–æ–∫–∞–ª—å–Ω–æ".
  
  –ü—Ä–∏–∫–ª–∞–¥ `.env` —Ñ–∞–π–ª—É –º–∏ —Å—Ç–≤–æ—Ä—é–≤–∞–ª–∏ –≤ –ª–µ–∫—Ü—ñ—ó. –û—Å—å –π–æ–≥–æ –æ–±–æ–≤ º—è–∑–∫–æ–≤–µ –Ω–∞–ø–æ–≤–Ω–µ–Ω–Ω—è:
    ```
    DB_HOST=your_host
    DB_PORT=3306 –∞–±–æ 3307 - —Ç–æ–π, —è–∫–∏–π –í–∏ –Ω–∞–ª–∞—à—Ç—É–≤–∞–ª–∏
    DB_USER=your_username
    DB_PASSWORD=your_password
    DB_NAME=classicmodels
    ```
  –Ø–∫—â–æ –≤–∏ —Å—Ç–≤–æ—Ä–∏–ª–∏ —Ü–µ–π —Ñ–∞–π–ª –ø—ñ–¥ —á–∞—Å –ø–µ—Ä–µ–≥–ª—è–¥—É –ª–µ–∫—Ü—ñ—ó - **–Ω–æ–≤–∏–π —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –Ω–µ —Ç—Ä–µ–±–∞**. –ó–∞–º—ñ–Ω—ñ—Ç—å –ª–∏—à–µ –Ω–∞–∑–≤—É –ë–î, –∞–±–æ –ø—Ä–æ–ø–∏—à—ñ—Ç—å –Ω–∞–∑–≤—É –≤ –∫–æ–¥—ñ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è (–∑–∞–º—ñ—Å—Ç—å –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –Ω–∞–∑–≤–∏ —Ü—ñ–ª—å–æ–≤–æ—ó –ë–î –∑—ñ –∑–º—ñ–Ω–Ω–∏—Ö –æ—Ç–æ—á–µ–Ω–Ω—è). –ê–ª–µ –ø–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ –¥–æ `.env` —Ñ–∞–π–ª –ª–µ–∂–∏—Ç—å –≤ —Ç—ñ–π —Å–∞–º—ñ–π –ø–∞–ø—Ü—ñ, —â–æ —ñ —Ü–µ–π –Ω–æ—É—Ç–±—É–∫.

  **–£–í–ê–ì–ê!** –ù–ï –∫–æ–ø—ñ—é–π—Ç–µ —Å–∫—Ä–∏—Ç –¥–ª—è **—Å—Ç–≤–æ—Ä–µ–Ω–Ω—è** `.env` —Ñ–∞–π–ª—É. –í –ª–µ–∫—Ü—ñ—ó –≤—ñ–Ω –Ω–∞–≤–æ–¥–∏—Ç—å—Å—è –¥–ª—è –ø—Ä–∏–∫–ª–∞–¥—É. –Ü –¥–∞–≤–∞–ª–æ—Å—å –ø–æ—è—Å–Ω–µ–Ω–Ω—è, —â–æ –≤ —Ä–µ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ—î–∫—Ç–∞—Ö –º–∏ –ù–Ü–ö–û–õ–ò –Ω–µ –ø–∏—à–µ–º–æ –¥–æ—Å—Ç—É–ø–∏ –¥–æ –±–∞–∑–∏ –≤ –∫–æ–¥—ñ. –ö–æ–ø—ñ—é–≤–∞–Ω–Ω—è —Å–∫—Ä–∏–ø—Ç–∞ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è `.env` —Ñ–∞–π–ª—É —Å—é–¥–∏ –≤ –î–ó –±—É–¥–µ –≤–≤–∞–∂–∞—Ç–∏—Å—å –≥—Ä—É–±–æ—é –ø–æ–º–∏–ª–∫–æ—é —ñ –º–∏ –∑–Ω—ñ–º–∞—Ç–∏–º–µ–º–æ –±–∞–ª–∏.

3. –ù–∞–ª–∞—à—Ç—É–π—Ç–µ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy –¥–æ –ë–î –∑–∞ –ø—Ä–∏–∫–ª–∞–¥–æ–º –≤ –ª–µ–∫—Ü—ñ—ó.

–†–µ–∫–æ–º–µ–Ω–¥—É—é –≤–∏–≤–µ—Å—Ç–∏ (–≤—ñ–¥–æ–±—Ä–∞–∑–∏—Ç–∏) –∑–º—ñ–Ω–Ω—É engine –ø—ñ—Å–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è. –í–æ–Ω–∞ –º–∞—î –±—É—Ç–∏ –Ω–µ None! –Ø–∫—â–æ None - –∑–Ω–∞—á–∏—Ç—å —É –í–∞—Å –Ω–µ –ø—ñ–¥—Ç—è–≥–Ω—É–ª–∏—Å—å –Ω–∞–ª–∞—à—Ç—É–≤–∞–Ω–Ω—è –∑ .env —Ñ–∞–π–ª–∞.

–í–∏ —Ç–∞–∫–æ–∂ –º–æ–∂–µ—Ç–µ –Ω–∞–ª–∞—à—Ç—É–≤–∞—Ç–∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î –±–µ–∑ .env —Ñ–∞–π–ª–∞, –ø—Ä–æ—Å—Ç–æ –ø—Ä–æ–ø–∏—Å–∞–≤—à–∏ —Ç–µ–∫—Å—Ç–æ–º –≤ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–∏—Ö –º—ñ—Å—Ü—è—Ö. –¶–µ - –Ω–µ —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω–∏–π –ø—ñ–¥—Ö—ñ–¥.


## –ó–∞–≤–¥–∞–Ω–Ω—è

### –ó–∞–≤–¥–∞–Ω–Ω—è 1: –û–Ω–æ–≤–ª–µ–Ω–Ω—è —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –ø—Ä–æ –∫–ª—ñ—î–Ω—Ç–∞ (2 –±–∞–ª–∏)

**–°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –∫–æ–Ω—Ç–∞–∫—Ç–Ω–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∫–ª—ñ—î–Ω—Ç–∞** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –º–æ–∂–ª–∏–≤–æ—Å—Ç—è–º–∏:
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è —Ç–µ–ª–µ—Ñ–æ–Ω—É –∫–ª—ñ—î–Ω—Ç–∞
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è email (—è–∫—â–æ –ø–æ–ª–µ —ñ—Å–Ω—É—î)
- –õ–æ–≥—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω –≤ –æ–∫—Ä–µ–º—É —Ç–∞–±–ª–∏—Ü—é

–í–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –ø—ñ–¥—Ö—ñ–¥ –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏–∑–æ–≤–∞–Ω–∏–º–∏ –∑–∞–ø–∏—Ç–∞–º–∏ —á–µ—Ä–µ–∑ `text()` —Ç–∞ `UPDATE` –æ–ø–µ—Ä–∞—Ç–æ—Ä.

–ó–∞–ø—É—Å—Ç—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —ó—ó —Ä–æ–±–æ—Ç—É, –∑–∞–ø—É—Å—Ç–∏–≤—à–∏ SELECT, —è–∫–∏–π –¥–æ–ø–æ–º–æ–∂–µ —Ü–µ –∑—Ä–æ–±–∏—Ç–∏.

In [33]:
import os
from dotenv import load_dotenv
import sqlalchemy as sa
from sqlalchemy import inspect
from sqlalchemy import create_engine, text

import pandas as pd
import datetime

In [4]:
def create_connection():
    """
    –°—Ç–≤–æ—Ä—é—î –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy
    """
    # –ó–∞–≤–∞–Ω—Ç–∞–∂—É—î–º–æ –∑–º—ñ–Ω–Ω—ñ —Å–µ—Ä–µ–¥–æ–≤–∏—â–∞
    load_dotenv()

    # –û—Ç—Ä–∏–º—É—î–º–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –∑ environment variables
    host = os.getenv('DB_HOST', 'localhost')
    port = os.getenv('DB_PORT', '3306')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = 'classicmodels'

    # if not all([user, password, database]):
    #     raise ValueError("–ù–µ –≤—Å—ñ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ë–î –∑–∞–¥–∞–Ω—ñ –≤ .env —Ñ–∞–π–ª—ñ!")

    # –°—Ç–≤–æ—Ä—é—î–º–æ connection string
    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    # –°—Ç–≤–æ—Ä—é—î–º–æ engine –∑ connection pooling
    engine = create_engine(
        connection_string,
        pool_size=2,           # –†–æ–∑–º—ñ—Ä –ø—É–ª—É –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        max_overflow=20,        # –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        pool_pre_ping=True,     # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –ø–µ—Ä–µ–¥ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º
        echo=False              # –õ–æ–≥—É–≤–∞–Ω–Ω—è SQL –∑–∞–ø–∏—Ç—ñ–≤ (True –¥–ª—è debug)
    )

    # –¢–µ—Å—Ç—É—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
    try:
        with engine.connect() as conn:
            result = conn.execute(text("SELECT 1"))
            result.fetchone()

        print("‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!")
        print(f"üîó {user}@{host}:{port}/{database}")
        print(f"‚ö° Engine: {engine}")

        return engine

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è: {e}")
        return None

# –°—Ç–≤–æ—Ä—é—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
engine = create_connection()

‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!
üîó root@127.0.0.1:3306/classicmodels
‚ö° Engine: Engine(mysql+pymysql://root:***@127.0.0.1:3306/classicmodels)

In [16]:
def update_customer_with_transaction(engine, cust_no, new_phone, new_email):
    """
    –û–Ω–æ–≤–ª—é—î–º–æ –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω–∞ –∫–ª—ñ—î–Ω—Ç–∞ –∑ –ª–æ–≥—É–≤–∞–Ω–Ω—è–º –∑–º—ñ–Ω
    """
    # –°–ø–æ—á–∞—Ç–∫—É –ø–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ —á–∏ —ñ—Å–Ω—É—î –ø–æ–ª–µ email, —è–∫–µ –ø–æ—Ç—Ä—ñ–±–Ω–æ –æ–Ω–æ–≤–∏—Ç–∏ (–æ–∫—Ä–µ–º–æ –≤—ñ–¥ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó)
    inspector = inspect(engine)
    columns = inspector.get_columns('customers')
    column_names = [col['name'] for col in columns]

    if 'email' in column_names:
        check_query = text("""
            SELECT customerName, phone, email
            FROM customers
            WHERE customerNumber = :cust_no
        """)
    else:
        check_query = text("""
            SELECT customerName, phone
            FROM customers
            WHERE customerNumber = :cust_no
        """)

    # –ü–æ—Ç—ñ–º –ø–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ —á–∏ —ñ—Å–Ω—É—î –∫–ª—ñ—î–Ω—Ç (–æ–∫—Ä–µ–º–æ –≤—ñ–¥ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó)
    with engine.connect() as conn:
        result = conn.execute(check_query, {'cust_no': cust_no})
        # customer = result.fetchone()
        customer = result.mappings().fetchone()  #  –ø–æ–≤–µ—Ä—Ç–∞—î dict-–ø–æ–¥—ñ–±–Ω–∏–π –æ–±'—î–∫—Ç     (fetchone() ‚Üí –ø–æ–≤–µ—Ä—Ç–∞—î tuple)
    
        if not customer:
            print(f"‚ùå –°–ø—ñ–≤—Ä–æ–±—ñ—Ç–Ω–∏–∫ {cust_no} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–∏–π")
            return False
    
        # –ó–±–µ—Ä—ñ–≥–∞—î–º–æ —Å—Ç–∞—Ä—ñ –∑–Ω–∞—á–µ–Ω–Ω—è –¥–ª—è –ª–æ–≥—É–≤–∞–Ω–Ω—è
        old_phone = customer['phone']
        old_email = customer['email'] if 'email' in column_names else None
        name = customer['customerName']
        print(f"üë§ –û–Ω–æ–≤–ª—é—î–º–æ –¥–∞–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∞ {name} (ID: {cust_no})")

    # –°—Ç–≤–æ—Ä—é—î–º–æ –ª–æ–≥-—Ç–∞–±–ª–∏—Ü—é (–≤ –ø–∞–º‚Äô—è—Ç—ñ)
    log_data = {
        'customerNumber': [cust_no],
        'customerName': [name],
        'old_phone': [old_phone],
        'new_phone': [new_phone],
        'old_email': [old_email],
        'new_email': [new_email if 'email' in column_names else None],
        'timestamp': [pd.Timestamp.now()]
    }

    df_log = pd.DataFrame(log_data)


    # –¢–µ–ø–µ—Ä —Å—Ç–≤–æ—Ä—é—î–º–æ –Ω–æ–≤–µ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–ª—è —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó (–¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö)
    with engine.connect() as conn:
        with conn.begin():
            try:
               
                # –ö—Ä–æ–∫ 1: –û–Ω–æ–≤–ª—é—î–º–æ –ø–æ—Ç–æ—á–Ω–∏–π –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω—É
                update_phone_number_query = text("""
                    UPDATE customers
                    SET phone = :phone
                    WHERE customerNumber = :cust_no
                """)

                result1 = conn.execute(update_phone_number_query, {'cust_no': cust_no, 'phone': new_phone})
                print(f"‚úÖ –ö—Ä–æ–∫ 1: –û–Ω–æ–≤–ª–µ–Ω–æ –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω—É (–æ–Ω–æ–≤–ª–µ–Ω–æ {result1.rowcount} –∑–∞–ø–∏—Å—ñ–≤)")

                 # –ö—Ä–æ–∫ 2: –û–Ω–æ–≤–ª—é—î–º–æ email (—è–∫—â–æ —Ü–µ –ø–æ–ª–µ –ø—Ä–∏—Å—É—Ç–Ω—î)
                if 'email' in column_names:
                    update_email_query = text("""
                        UPDATE customers
                        SET email = :email
                        WHERE customerNumber = :cust_no
                    """)
                    
                    result2 = conn.execute(update_email_query, {'cust_no': cust_no, 'email': new_email})
                    print(f"‚úÖ –ö—Ä–æ–∫ 2: –û–Ω–æ–≤–ª–µ–Ω–æ email (–æ–Ω–æ–≤–ª–µ–Ω–æ {result2.rowcount} –∑–∞–ø–∏—Å—ñ–≤)")
                    email_status = f"‚úÖ Email –∫–ª—ñ—î–Ω—Ç–∞ –æ–Ω–æ–≤–ª–µ–Ω–æ –Ω–∞ {new_email}"
                else:
                    print("‚ö†Ô∏è –ö—Ä–æ–∫ 2: –ü–æ–ª–µ email –≤—ñ–¥—Å—É—Ç–Ω—î –≤ —Ç–∞–±–ª–∏—Ü—ñ ‚Äî –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –ø—Ä–æ–ø—É—â–µ–Ω–æ")
                    email_status = "‚ö†Ô∏è –ü–æ–ª–µ email –≤—ñ–¥—Å—É—Ç–Ω—î –≤ —Ç–∞–±–ª–∏—Ü—ñ ‚Äî –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –ø—Ä–æ–ø—É—â–µ–Ω–æ"


                print("‚úÖ –í—Å—ñ –∫—Ä–æ–∫–∏ –≤–∏–∫–æ–Ω–∞–Ω–æ!")
                print(f"üéâ –ù–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω–∞ –∫–ª—ñ—î–Ω—Ç–∞ {name} –æ–Ω–æ–≤–ª–µ–Ω–æ –Ω–∞ {new_phone}")
                print(email_status)

                # –í–∏–≤–æ–¥–∏–º–æ –ª–æ–≥ –∑–º—ñ–Ω
                print("\nüìú –õ–æ–≥ –∑–º—ñ–Ω:")
                display(df_log)

                return True

            except Exception as e:
                print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—Ä–∏ –æ–Ω–æ–≤–ª–µ–Ω–Ω—ñ: {e}")
                print("üîÑ –í—Å—ñ –∑–º—ñ–Ω–∏ –∞–≤—Ç–æ–º–∞—Ç–∏—á–Ω–æ —Å–∫–∞—Å–æ–≤–∞–Ω–æ (ROLLBACK)")
                return False


# –¢–µ—Å—Ç—É—î–º–æ –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –Ω–æ–º–µ—Ä–∞ —Ç–µ–ª–µ—Ñ–æ–Ω–∞ —Å–ø—ñ–≤—Ä–æ–±—ñ—Ç–Ω–∏–∫–∞
cust_id = 103
success = update_customer_with_transaction(
    engine,
    cust_id,
    new_phone="777-77-77",
    new_email="its_new_email@gmail.com"
)

üë§ –û–Ω–æ–≤–ª—é—î–º–æ –¥–∞–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∞ Atelier graphique (ID: 103)
‚úÖ –ö—Ä–æ–∫ 1: –û–Ω–æ–≤–ª–µ–Ω–æ –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω—É (–æ–Ω–æ–≤–ª–µ–Ω–æ 1 –∑–∞–ø–∏—Å—ñ–≤)
‚ö†Ô∏è –ö—Ä–æ–∫ 2: –ü–æ–ª–µ email –≤—ñ–¥—Å—É—Ç–Ω—î –≤ —Ç–∞–±–ª–∏—Ü—ñ ‚Äî –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –ø—Ä–æ–ø—É—â–µ–Ω–æ
‚úÖ –í—Å—ñ –∫—Ä–æ–∫–∏ –≤–∏–∫–æ–Ω–∞–Ω–æ!
üéâ –ù–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω–∞ –∫–ª—ñ—î–Ω—Ç–∞ Atelier graphique –æ–Ω–æ–≤–ª–µ–Ω–æ –Ω–∞ 777-77-77
‚ö†Ô∏è –ü–æ–ª–µ email –≤—ñ–¥—Å—É—Ç–Ω—î –≤ —Ç–∞–±–ª–∏—Ü—ñ ‚Äî –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –ø—Ä–æ–ø—É—â–µ–Ω–æ

üìú –õ–æ–≥ –∑–º—ñ–Ω:

,customerNumber,customerName,old_phone,new_phone,old_email,new_email,timestamp
0,103,Atelier graphique,123456789,777-77-77,None,None,2025-08-08 18:21:28.911637

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –¥–æ –∑–∞–≤–¥–∞–Ω–Ω—è 1:**  
- –ó–∞—Ä–∞–∑ –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –≤–∏–∫–æ–Ω—É—î—Ç—å—Å—è –Ω–∞–≤—ñ—Ç—å —è–∫—â–æ –∑–Ω–∞—á–µ–Ω–Ω—è –ø–æ—Ä–æ–∂–Ω—ñ –∞–±–æ None. –¶–µ –º–æ–∂–µ –ø—Ä–∏–∑–≤–µ—Å—Ç–∏ –¥–æ –Ω–µ–±–∞–∂–∞–Ω–æ–≥–æ –æ—á–∏—â–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö —É –±–∞–∑—ñ. –¢–æ–º—É –º–æ–∂–Ω–∞ –¥–æ–¥–∞—Ç–∏ –ø–µ—Ä–µ–≤—ñ—Ä–∫—É –ø–µ—Ä–µ–¥ –æ–Ω–æ–≤–ª–µ–Ω–Ω—è–º –Ω–∞ —Ç–µ, —è–∫—ñ –∑–Ω–∞—á–µ–Ω–Ω—è –∑–∞–¥–∞—é—Ç—å—Å—è –¥–ª—è new_phone —ñ new_email, —á–∏ –Ω–µ –ø—Ä–∏–π–º–∞—é—Ç—å –≤–æ–Ω–∏ –ø–æ—Ä–æ–∂–Ω—ñ—Ö –∑–Ω–∞—á–µ–Ω—å –∞–±–æ None.

### –ó–∞–≤–¥–∞–Ω–Ω—è 2: –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—î—é (5 –±–∞–ª—ñ–≤)

**–†–µ–∞–ª—ñ–∑—É–π—Ç–µ –ø—Ä–æ—Ü–µ—Å —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –∫—Ä–æ–∫–∞–º–∏ –≤ –æ–¥–Ω—ñ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó:
- –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–ø–∏—Å—É –≤ —Ç–∞–±–ª–∏—Ü—ñ `orders`
- –î–æ–¥–∞–≤–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä–Ω–∏—Ö –ø–æ–∑–∏—Ü—ñ–π –≤ `orderdetails`
- –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ
- –ó–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ

–ó–∞–ø—É—Å—Ç—ñ—Ç—å –ø—Ä–æ—Ü–µ—Å –∑ —Ç–µ—Å—Ç–æ–≤–∏–º–∏ –¥–∞–Ω–∏–º–∏ —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —á–µ—Ä–µ–∑ SELECT, —â–æ –ø—Ä–æ—Ü–µ—Å —É—Å–ø—ñ—à–Ω–æ –≤—ñ–¥–ø—Ä–∞—Ü—é–≤–∞–≤ —ñ –±—É–ª–∏ –≤–∏–∫–æ–Ω–∞–Ω—ñ –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –æ–ø–µ—Ä–∞—Ü—ñ—ó.

In [31]:
def create_order_transaction(engine, orderDate, requiredDate, customerNumber, items):
    """
    –°—Ç–≤–æ—Ä—é—î –Ω–æ–≤–µ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∑ —Ç–æ–≤–∞—Ä–Ω–∏–º–∏ –ø–æ–∑–∏—Ü—ñ—è–º–∏ –≤ –æ–¥–Ω—ñ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó.
    –ü–æ–≤–µ—Ä—Ç–∞—î –Ω–æ–º–µ—Ä —Å—Ç–≤–æ—Ä–µ–Ω–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è.
    """
    with engine.connect() as conn:
        with conn.begin():
            try:
                
                # –ö—Ä–æ–∫ 1. –ó–Ω–∞—Ö–æ–¥–∏–º–æ –æ—Å—Ç–∞–Ω–Ω—ñ–π orderNumber
                last_order_query = text("SELECT MAX(orderNumber) FROM orders")
                result = conn.execute(last_order_query)
                last_order_number = result.scalar() or 10000
                new_order_number = last_order_number + 1
                print(last_order_number, new_order_number)

                # –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è
                add_new_order_query = text("""
                    INSERT INTO orders (orderNumber, orderDate, requiredDate, shippedDate, status, comments, customerNumber)
                    VALUES (:orderNumber, :orderDate, :requiredDate, NULL, 'In Process', 'Auto-generated order', :customerNumber)
                """)
                
                conn.execute(add_new_order_query, {
                    'orderNumber': new_order_number,
                    'orderDate': orderDate,
                    'requiredDate': requiredDate,
                    'customerNumber': customerNumber
                })
                
                print(f"‚úÖ –ö—Ä–æ–∫ 1: –°—Ç–≤–æ—Ä–µ–Ω–æ –∑–∞–ø–∏—Å –≤ —Ç–∞–±–ª–∏—Ü—ñ orders –∑ –Ω–æ–≤–∏–º –Ω–æ–º–µ—Ä–æ–º –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è #{new_order_number}")

                # –ö—Ä–æ–∫–∏ 2, 3, 4. –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ —Å–∫–ª–∞–¥—É, –¥–æ–¥–∞–≤–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä—ñ–≤ —Ç–∞ –æ–Ω–æ–≤–ª–µ–Ω–Ω—è —Å–∫–ª–∞–¥—É
                
                for item in items:
                    
                    # –ö—Ä–æ–∫ 2: –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ —Å–∫–ª–∞–¥—É
                    stock_query = text("""
                        SELECT quantityInStock FROM products WHERE productCode = :productCode
                    """)
                    
                    stock_result = conn.execute(stock_query, {'productCode': item['productCode']})
                    stock = stock_result.scalar()

                    if stock is None or stock < item['quantityOrdered']:
                        raise Exception(f"–ù–µ–¥–æ—Å—Ç–∞—Ç–Ω—å–æ —Ç–æ–≤–∞—Ä—É {item['productCode']} –Ω–∞ —Å–∫–ª–∞–¥—ñ")
                    else:
                        print(f"‚úÖ –ö—Ä–æ–∫ 2: –¢–æ–≤–∞—Ä {item['productCode']} —î –≤ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ: {stock} –æ–¥–∏–Ω–∏—Ü—å")

                    
                    # –ö—Ä–æ–∫ 3: –î–æ–¥–∞–≤–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä–Ω–∏—Ö –ø–æ–∑–∏—Ü—ñ–π –≤ orderdetails
                    add_in_orderdetails_query = text("""
                        INSERT INTO orderdetails (orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber)
                        VALUES (:orderNumber, :productCode, :quantityOrdered, :priceEach, :orderLineNumber)
                    """)
                    
                    conn.execute(add_in_orderdetails_query, {
                        'orderNumber': new_order_number,
                        'productCode': item['productCode'],
                        'quantityOrdered': item['quantityOrdered'],
                        'priceEach': item['priceEach'],
                        'orderLineNumber': item['orderLineNumber']
                    })
                    
                    print(f"‚úÖ –ö—Ä–æ–∫ 3: –î–æ–¥–∞–Ω–æ —Ç–æ–≤–∞—Ä–Ω—É –ø–æ–∑–∏—Ü—ñ—é {item['productCode']} –≤ —Ç–∞–±–ª–∏—Ü—é orderdetails –¥–ª—è –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è #{new_order_number}")


                    # –ö—Ä–æ–∫ 4: –û–Ω–æ–≤–ª–µ–Ω–Ω—è —Å–∫–ª–∞–¥—É
                    update_stock_query = text("""
                        UPDATE products
                        SET quantityInStock = quantityInStock - :quantityOrdered
                        WHERE productCode = :productCode
                    """)
                    
                    conn.execute(update_stock_query, {
                        'quantityOrdered': item['quantityOrdered'],
                        'productCode': item['productCode']
                    })

                    new_stock = stock - item['quantityOrdered']
                    print(f"‚úÖ –ö—Ä–æ–∫ 4: –°–∫–ª–∞–¥ –æ–Ω–æ–≤–ª–µ–Ω–æ ‚Äî –Ω–æ–≤–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –¥–ª—è {item['productCode']}: {new_stock}")
                

                print(f"‚úÖ –ó–∞–º–æ–≤–ª–µ–Ω–Ω—è #{new_order_number} —Å—Ç–≤–æ—Ä–µ–Ω–æ —É—Å–ø—ñ—à–Ω–æ!")
                return new_order_number

            except Exception as e:
                print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—Ä–∏ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—ñ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è: {e}")
                return False



# –¢–µ—Å—Ç—É—î–º–æ
new_order_id = create_order_transaction(
    engine,
    orderDate = datetime.date.today(),
    requiredDate = datetime.date(2025, 8, 15),
    customerNumber = 103,
    items = [
        {'productCode': 'S10_1678', 'quantityOrdered': 27, 'priceEach': 95.0, 'orderLineNumber': 1},
        {'productCode': 'S10_1949', 'quantityOrdered': 95, 'priceEach': 140.0, 'orderLineNumber': 2}
    ]
)

10427 10428
‚úÖ –ö—Ä–æ–∫ 1: –°—Ç–≤–æ—Ä–µ–Ω–æ –∑–∞–ø–∏—Å –≤ —Ç–∞–±–ª–∏—Ü—ñ orders –∑ –Ω–æ–≤–∏–º –Ω–æ–º–µ—Ä–æ–º –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è #10428
‚úÖ –ö—Ä–æ–∫ 2: –¢–æ–≤–∞—Ä S10_1678 —î –≤ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ: 7927 –æ–¥–∏–Ω–∏—Ü—å
‚úÖ –ö—Ä–æ–∫ 3: –î–æ–¥–∞–Ω–æ —Ç–æ–≤–∞—Ä–Ω—É –ø–æ–∑–∏—Ü—ñ—é S10_1678 –≤ —Ç–∞–±–ª–∏—Ü—é orderdetails –¥–ª—è –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è #10428
‚úÖ –ö—Ä–æ–∫ 4: –°–∫–ª–∞–¥ –æ–Ω–æ–≤–ª–µ–Ω–æ ‚Äî –Ω–æ–≤–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –¥–ª—è S10_1678: 7900
‚úÖ –ö—Ä–æ–∫ 2: –¢–æ–≤–∞—Ä S10_1949 —î –≤ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ: 7295 –æ–¥–∏–Ω–∏—Ü—å
‚úÖ –ö—Ä–æ–∫ 3: –î–æ–¥–∞–Ω–æ —Ç–æ–≤–∞—Ä–Ω—É –ø–æ–∑–∏—Ü—ñ—é S10_1949 –≤ —Ç–∞–±–ª–∏—Ü—é orderdetails –¥–ª—è –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è #10428
‚úÖ –ö—Ä–æ–∫ 4: –°–∫–ª–∞–¥ –æ–Ω–æ–≤–ª–µ–Ω–æ ‚Äî –Ω–æ–≤–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –¥–ª—è S10_1949: 7200
‚úÖ –ó–∞–º–æ–≤–ª–µ–Ω–Ω—è #10428 —Å—Ç–≤–æ—Ä–µ–Ω–æ —É—Å–ø—ñ—à–Ω–æ!

In [32]:
# –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É
check_result_query = text("""
SELECT 
    o.orderNumber, 
    o.orderDate,
    o.requiredDate,
    o.customerNumber,
    od.productCode, 
    od.quantityOrdered,
    od.priceEach,
    p.quantityInStock
FROM orders o
JOIN orderdetails od ON o.orderNumber = od.orderNumber
JOIN products p ON od.productCode = p.productCode
WHERE o.orderNumber = :orderNumber
""")


df_result = pd.read_sql(check_result_query, engine, params={'orderNumber': new_order_id})
print("–†–µ–∑—É–ª—å—Ç–∞—Ç —Å—Ç–≤–æ—Ä–µ–Ω–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è:")
display(df_result)

–†–µ–∑—É–ª—å—Ç–∞—Ç —Å—Ç–≤–æ—Ä–µ–Ω–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è:

,orderNumber,orderDate,requiredDate,customerNumber,productCode,quantityOrdered,priceEach,quantityInStock
0,10428,2025-08-08,2025-08-15,103,S10_1678,27,95.0,7900
1,10428,2025-08-08,2025-08-15,103,S10_1949,95,140.0,7200

**–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –¥–æ –∑–∞–≤–¥–∞–Ω–Ω—è 2:**  
- –ø—Ä–∏ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—ñ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –ø–æ—Ä—ñ–≤–Ω—è—Ç–∏ –≤–∫–∞–∑–∞–Ω—É —Ü—ñ–Ω—É `priceEach` –∑ —Ü—ñ–Ω–æ—é `buyPrice` –≤ –ë–î –≤ —Ç–∞–±–ª–∏—Ü—ñ `products`, –≤–æ–Ω–∞ –Ω–µ –º–æ–∂–µ –±—É—Ç–∏ –º–µ–Ω—à–µ;
- –ø–æ–≤–∏–Ω–Ω–∞ –≤–∏–∫–æ–Ω–∞—Ç–∏—Å—å —É–º–æ–≤–∞ `requiredDate > orderDate`;
- –ø–µ—Ä–µ–≤—ñ—Ä—è—Ç–∏ —á–∏ —ñ—Å–Ω—É—î –Ω–æ–º–µ—Ä –ø–æ–∑–∏—Ü—ñ—ó (`productCode`) –≤ –ë–î, –≤–∫–∞–∑–∞–Ω–∏–π –ø—ñ–¥ —á–∞—Å —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è;
- –ø–µ—Ä–µ–≤—ñ—Ä—è—Ç–∏ —á–∏ —ñ—Å–Ω—É—î –∑–∞–º–æ–≤–Ω–∏–∫ (`customerNumber`), —è–∫—â–æ –Ω—ñ, —Ç–æ–¥—ñ —Å—Ç–≤–æ—Ä–∏—Ç–∏ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–∏–π –∑–∞–ø–∏—Å –≤ —Ç–∞–±–ª–∏—Ü—ñ `customers`;
- –∑–∞–ª–æ–≥—É–≤–∞—Ç–∏ –∑–º—ñ–Ω–∏ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—É –Ω–∞ —Å–∫–ª–∞–¥—ñ —Ç–∞ –≤—Å—ñ —ñ–Ω—à—ñ —Å—Ç–≤–æ—Ä–µ–Ω—ñ –∑–º—ñ–Ω–∏ –∑ —Ü–∏—Ö —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ–π