#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/supermarket_sales.csv')

In [4]:
df[:2]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [5]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º —î —Ñ—ñ–ª—ñ–∞–ª `C` –∑ —Å—É–º–∞—Ä–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º 5265.1765.

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [8]:
sum_gross_income = df.pivot_table(index='Branch',
                                  columns='City',
                                  values='gross income',
                                  aggfunc='sum')

In [9]:
sum_gross_income

City    Mandalay  Naypyitaw     Yangon
Branch
A            NaN        NaN  5057.1605
B       5057.032        NaN        NaN
C            NaN  5265.1765        NaN

In [10]:
city_with_max_gross = sum_gross_income.max().idxmax()
print(f"–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –≤ –º—ñ—Å—Ç—ñ {city_with_max_gross}")

–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –≤ –º—ñ—Å—Ç—ñ Naypyitaw

In [11]:
# –î—Ä—É–≥–∏–π —Å–ø–æ—Å—ñ–± –∑–Ω–∞–π—Ç–∏ —è–∫–µ –º—ñ—Å—Ç–æ –≤—ñ–¥–ø–æ–≤—ñ–¥–∞—î —Ñ—ñ–ª—ñ—ó C
df[df.Branch == 'C'].City.unique()

array(['Naypyitaw'], dtype=object)

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [12]:
invoices_by_category = df.pivot_table(index='Branch',
                                     columns='Product line',
                                     values='Invoice ID',
                                     aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [13]:
top_branch = invoices_by_category['Electronic accessories'].idxmax()
print(f"–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories' –º–∞—î —Ñ—ñ–ª—ñ—è: {top_branch}")

–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories' –º–∞—î —Ñ—ñ–ª—ñ—è: A

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

## –ü–∏—Ç–∞–Ω–Ω—è 1
–ß–∏ –≤–∑–∞—î–º–æ–ø–æ–≤‚Äô—è–∑–∞–Ω–∞ —Å–µ—Ä–µ–¥–Ω—è –æ—Ü—ñ–Ω–∫–∞ –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è (Rating) —ñ–∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é —Ç–æ–≤–∞—Ä—É –ø–æ –º—ñ—Å—Ç–∞–º?  
–ú–µ—Ç–∞: –∑‚Äô—è—Å—É–≤–∞—Ç–∏, –≤ —è–∫–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö —Ç–æ–≤–∞—Ä—ñ–≤ –∫–ª—ñ—î–Ω—Ç–∏ –∑–∞–ª–∏—à–∞—é—Ç—å –≤–∏—â—ñ –æ—Ü—ñ–Ω–∫–∏.

In [14]:
# –°–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ –ø–æ Product line –ø–æ –º—ñ—Å—Ç–∞–º
pd.pivot_table(df, index='Product line', columns='City', values='Rating', aggfunc='mean').round(2)

City                    Mandalay  Naypyitaw  Yangon
Product line
Electronic accessories      7.12       6.75    6.91
Fashion accessories         6.72       7.44    6.88
Food and beverages          6.99       7.08    7.25
Health and beauty           7.10       7.00    6.90
Home and lifestyle          6.52       7.06    6.93
Sports and travel           6.51       7.03    7.26

### –í–∏—Å–Ω–æ–≤–æ–∫:   
–í –º—ñ—Å—Ç—ñ `Mandalay` –ø–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º —Ç–æ–≤–∞—Ä—ñ–≤ `Home and lifestyle`, `Sports and travel` –Ω–∞–π–Ω–∏–∂—á—ñ —Å–µ—Ä–µ–¥–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è —Ä–µ–π—Ç–∏–Ω–≥—É —Å–µ—Ä–µ–¥ –≤—Å—ñ—Ö –º—ñ—Å—Ç. –ü–æ –Ω–∏–∑—å–∫–∏–º –ø–æ–∫–∞–∑–Ω–∏–∫–∞–º –º–æ–∂–Ω–∞ —Å–∫–∞–∑–∞—Ç–∏, —â–æ —Ä—ñ–≤–µ–Ω—å —Å–µ—Ä–≤—ñ—Å—É –≤ –º–∞–≥–∞–∑–∏–Ω—ñ –ø–æ—Ç—Ä–µ–±—É—î –∑–º—ñ–Ω, –∞–±–æ –º–∞–ª–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –∫–æ–Ω—Å—É–ª—å—Ç–∞–Ω—Ç—ñ–≤, —â–æ –¥–æ–ø–æ–º–∞–≥–∞—é—Ç—å –∑—Ä–æ–±–∏—Ç–∏ –≤–∏–±—ñ—Ä, –∞–±–æ –Ω–µ –¥—É–∂–µ –≤–µ–ª–∏–∫–∏–π –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ç–æ–≤–∞—Ä—É —ñ –∫–ª—ñ—î–Ω—Ç–∏ —Ü–∏–º –Ω–µ–∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ.  

### –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:
- –ü–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ç–æ–≤–∞—Ä—É –≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö, –¥–µ –Ω–∏–∑—å–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥.
- –ü—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ —Ä—ñ–≤–Ω—å —Å–µ—Ä–≤—ñ—Å—É –ø–æ –∫–∞—Ç–µ—Ä—ñ—è–º.
- –ê–∫—Ü–µ–Ω—Ç—É–≤–∞—Ç–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥ –Ω–∞ –Ω–∞–π–∫—Ä–∞—â–∏—Ö –ø–æ—î–¥–Ω–∞–Ω–Ω—è—Ö —Ä–µ–π—Ç–∏–Ω–≥-–∫–∞—Ç–µ–≥–æ—Ä—ñ—è.

## –ü–∏—Ç–∞–Ω–Ω—è 2:
–£ —è–∫–∏—Ö –º—ñ—Å—Ç–∞—Ö —ñ –≤ —è–∫—ñ –¥–Ω—ñ —Ç–∏–∂–Ω—è –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ –æ–¥–∏–Ω–∏—Ü—å –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤?  
–ú–µ—Ç–∞: –∑—Ä–æ–∑—É–º—ñ—Ç–∏ –Ω–∞–π–∑–∞—Ç—Ä–µ–±—É–≤–∞–Ω—ñ—à—ñ –¥–Ω—ñ + –≥–µ–æ–≥—Ä–∞—Ñ—ñ—é –ø–æ–ø–∏—Ç—É –ø–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö.

In [15]:
# –î–æ–¥–∞–º–æ –∫–æ–ª–æ–Ω–∫—É –∑ –¥–Ω–µ–º —Ç–∏–∂–Ω—è
df['Weekday'] = pd.to_datetime(df['Date']).dt.day_name()

In [17]:
df[:2]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Weekday
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,Saturday
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,Friday

In [18]:
# –ö—ñ–ª—å–∫—ñ—Å—Ç—å –æ–¥–∏–Ω–∏—Ü—å —Ç–æ–≤–∞—Ä—ñ–≤ –ø–æ –º—ñ—Å—Ç–∞—Ö —ñ –¥–Ω—è—Ö —Ç–∏–∂–Ω—è
product_line_by_weekday = pd.pivot_table(df, index=['Product line', 'City'], columns='Weekday', values='Quantity', aggfunc='sum')

In [19]:
# –ó–∞–¥–∞—î–º–æ –±–∞–∂–∞–Ω–∏–π –ø–æ—Ä—è–¥–æ–∫ –¥–Ω—ñ–≤ —Ç–∏–∂–Ω—è
ordered_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# –ü–µ—Ä–µ–≤–ø–æ—Ä—è–¥–∫–æ–≤—É—î–º–æ —Å—Ç–æ–≤–ø—Ü—ñ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ –¥–æ —Å–ø–∏—Å–∫—É
product_line_by_weekday = product_line_by_weekday[ordered_days]
product_line_by_weekday

Weekday                           Monday  Tuesday  Wednesday  Thursday  \
Product line           City
Electronic accessories Mandalay       39       24         41        84
                       Naypyitaw      36       58         12        63
                       Yangon         49       69         36        66
Fashion accessories    Mandalay       24       39         47        45
                       Naypyitaw      25       42         65        51
                       Yangon         43       38         22        23
Food and beverages     Mandalay       35       70         48        20
                       Naypyitaw      40       84         64        54
                       Yangon         23       14         73        42
Health and beauty      Mandalay       50       72         60        25
                       Naypyitaw      44       54         28        22
                       Yangon         46       29         43        49
Home and lifestyle     Mandalay       25       56         16        35
                       Naypyitaw      30       30         57        21
                       Yangon         56       50         29        39
Sports and travel      Mandalay       21       50         74        45
                       Naypyitaw      16       38         47        31
                       Yangon         36       45         38        40

Weekday                           Friday  Saturday  Sunday
Product line           City
Electronic accessories Mandalay       17        87      24
                       Naypyitaw      48        30      86
                       Yangon         36        42      24
Fashion accessories    Mandalay       65        66      11
                       Naypyitaw      53        64      42
                       Yangon         38        49      50
Food and beverages     Mandalay       35        27      35
                       Naypyitaw      24        56      47
                       Yangon         36        68      57
Health and beauty      Mandalay       59        36      18
                       Naypyitaw      50        49      30
                       Yangon         36        22      32
Home and lifestyle     Mandalay       33        73      57
                       Naypyitaw      19        33      55
                       Yangon         79        43      75
Sports and travel      Mandalay       46        46      40
                       Naypyitaw      35        49      49
                       Yangon         49        79      46

In [20]:
# –ú—ñ–Ω—ñ–º–∞–ª—å–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–æ–¥–∞–Ω–∏—Ö –æ–¥–∏–Ω–∏—Ü—å —É –∫–æ–∂–Ω—ñ–π –∫–æ–º–±—ñ–Ω–∞—Ü—ñ—ó Product line + City
min_values = product_line_by_weekday.min(axis=1)

# –î–µ–Ω—å —Ç–∏–∂–Ω—è, –∫–æ–ª–∏ —Ü–µ –º—ñ–Ω—ñ–º–∞–ª—å–Ω–µ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–∞–ø–∏–ª–æ—Å—å
min_days = product_line_by_weekday.idxmin(axis=1)

# –û–±‚Äô—î–¥–Ω—É—î–º–æ —É –ø—ñ–¥—Å—É–º–∫–æ–≤—É —Ç–∞–±–ª–∏—Ü—é
min_summary = pd.DataFrame({
    "–ú—ñ–Ω—ñ–º–∞–ª—å–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å": min_values,
    "–î–µ–Ω—å —Ç–∏–∂–Ω—è": min_days
    })

min_summary

                                  –ú—ñ–Ω—ñ–º–∞–ª—å–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –î–µ–Ω—å —Ç–∏–∂–Ω—è
Product line           City
Electronic accessories Mandalay                     17     Friday
                       Naypyitaw                    12  Wednesday
                       Yangon                       24     Sunday
Fashion accessories    Mandalay                     11     Sunday
                       Naypyitaw                    25     Monday
                       Yangon                       22  Wednesday
Food and beverages     Mandalay                     20   Thursday
                       Naypyitaw                    24     Friday
                       Yangon                       14    Tuesday
Health and beauty      Mandalay                     18     Sunday
                       Naypyitaw                    22   Thursday
                       Yangon                       22   Saturday
Home and lifestyle     Mandalay                     16  Wednesday
                       Naypyitaw                    19     Friday
                       Yangon                       29  Wednesday
Sports and travel      Mandalay                     21     Monday
                       Naypyitaw                    16     Monday
                       Yangon                       36     Monday

### –í–∏—Å–Ω–æ–≤–∫–∏:  
–ù–∞ –æ—Å–Ω–æ–≤—ñ –∑–≤–µ–¥–µ–Ω–æ—ó —Ç–∞–±–ª–∏—Ü—ñ `product_line_by_weekday` –ª–µ–≥–∫–æ –∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ –≤ —è–∫—ñ –¥–Ω—ñ —Ç–∏–∂–Ω—è —ñ —è–∫—ñ —Å–∞–º–µ —Ç–æ–≤–∞—Ä–∏ –∫–æ—Ä–∏—Å—Ç—É—é—Ç—å—Å—è –Ω–∞–π–º–µ–Ω—à–∏–º –ø–æ–ø–∏—Ç–æ–º, —Ç—É—Ç –¥–æ—Ü—ñ–ª—å–Ω–æ –±—É–¥–µ –ø–æ–±—É–¥—É–≤–∞—Ç–∏ —Ç–µ–ø–ª–æ–≤—É –∫–∞—Ä—Ç—É. –ù–∞ –æ—Å–Ω–æ–≤—ñ —Ü—ñ—î—ó —Ç–∞–±–ª–∏—Ü—ñ –ø–æ–±—É–¥–æ–≤–∞–Ω–∞ —Ç–∞–±–ª–∏—Ü—è `min_summary`, –≤ —è–∫—ñ–π –≤–∫–∞–∑–∞–Ω–æ –Ω–∞–π–º–µ–Ω—à–µ –∑–Ω–∞—á–µ–Ω–Ω—è –¥–ª—è –∫–æ–∂–Ω–æ—ó –∫–æ–º–±—ñ–Ω–∞—Ü—ñ—ó (Product line, City) —ñ —É —è–∫–∏–π —Å–∞–º–µ –¥–µ–Ω—å —Ç–∏–∂–Ω—è —Ü–µ –±—É–ª–æ.

### –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:
- –û–ø—Ç–∏–º—ñ–∑—É–≤–∞—Ç–∏ –∑–∞–ø–∞—Å–∏ —Ç–∞ –∑–º—ñ–Ω–∏—Ç–∏ —Ä–æ–∑–∫–ª–∞–¥–∫—É –ø—Ä–æ–¥—É–∫—Ç—ñ–≤/—Ç–æ–≤–∞—Ä—ñ–≤ —É –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ –¥–Ω—è.  
- –ó–∞–ø—É—Å—Ç–∏—Ç–∏ —Ç–∞—Ä–≥–µ–Ω—Ç–æ–≤–∞–Ω—ñ –∞–∫—Ü—ñ—ó —É –º—ñ—Å—Ç–∞—Ö/–¥–Ω—è—Ö, –¥–µ –ø–æ–ø–∏—Ç —Å–ª–∞–±—à–∏–π.

## –ü–∏—Ç–∞–Ω–Ω—è 3
–ß–∏ –≤–ø–ª–∏–≤–∞—î —Ç–∏–ø –∫–ª—ñ—î–Ω—Ç–∞ (Customer type) —ñ —á–∞—Å –¥–æ–±–∏ –Ω–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫?  
–ú–µ—Ç–∞: –¥–æ—Å–ª—ñ–¥–∏—Ç–∏ —á–∏ —Å—Ö–∏–ª—å–Ω—ñ —á–ª–µ–Ω–∏ –∫–ª—É–±—É –≤–∏—Ç—Ä–∞—á–∞—Ç–∏ –±—ñ–ª—å—à–µ –≤ –ø–µ–≤–Ω—ñ –≥–æ–¥–∏–Ω–∏, –Ω—ñ–∂ –∑–≤–∏—á–∞–π–Ω—ñ –ø–æ–∫—É–ø—Ü—ñ?

In [21]:
# –û–±—á–∏—Å–ª–∏–º–æ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ (Total) –∑ —Ä–æ–∑–±–∏–≤–∫–æ—é –ø–æ –º—ñ—Å—Ç–∞—Ö —ñ —Ç–∏–ø—É –∫–ª—ñ—î–Ω—Ç–∞ (Member/Normal).
table_avg_check = df.pivot_table(index='Customer type',
                                          columns='City',
                                          values='Total',
                                          aggfunc='mean')

In [22]:
table_avg_check.round(1)

City           Mandalay  Naypyitaw  Yangon
Customer type
Member            325.5      336.6   321.2
Normal            314.3      337.7   303.8

In [23]:
# –§—É–Ω–∫—Ü—ñ—è, —â–æ –∑ —á–∞—Å—É –≤ —Ñ–æ—Ä–º–∞—Ç—ñ "–≥–æ–¥–∏–Ω–∞:—Ö–≤–∏–ª–∏–Ω–∞" –¥—ñ—Å—Ç–∞—î —Ç—ñ–ª—å–∫–∏ –≥–æ–¥–∏–Ω–∏, —ñ –∫–æ–Ω–≤–µ—Ä—Ç—É—î —ó—Ö —É —Ç–∏–ø int
def get_hour(time_str):
    hour_str = time_str.split(":")[0]
    return int(hour_str)

In [24]:
# –î–æ–¥–∞–º–æ –∫–æ–ª–æ–Ω–∫—É –∑ –≥–æ–¥–∏–Ω–æ—é –ø–æ–∫—É–ø–∫–∏
df['Hour'] = df['Time'].apply(get_hour)

In [25]:
df[:2]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Weekday,Hour
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,Saturday,13
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,Friday,10

In [26]:
# –û–±—á–∏—Å–ª–∏–º–æ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ (Total) –∑–∞ –≥–æ–¥–∏–Ω–∞–º–∏ (Hour) –∑ —Ä–æ–∑–±–∏–≤–∫–æ—é –ø–æ –º—ñ—Å—Ç–∞—Ö —ñ —Ç–∏–ø—É –∫–ª—ñ—î–Ω—Ç–∞ (Member/Normal).
table_avg_check_by_hour = df.pivot_table(index='Hour',
                                          columns=['City', 'Customer type'],
                                          values='Total',
                                          aggfunc= 'mean')

In [27]:
table_avg_check_by_hour.round(1)

City          Mandalay        Naypyitaw        Yangon
Customer type   Member Normal    Member Normal Member Normal
Hour
10               342.7  340.4     319.6  294.4  242.1  337.8
11               334.4  297.5     365.2  411.7  305.3  342.2
12               330.0  350.5     235.3  283.0  323.1  244.6
13               300.2  294.0     370.6  399.7  291.7  369.5
14               427.4  340.7     388.3  346.1  373.3  313.2
15               320.3  319.6     295.6  290.3  393.9  210.5
16               261.3  221.5     320.9  416.9  264.4  391.2
17               360.0  424.1     305.8  247.8  417.1  278.5
18               262.2  280.2     302.4  424.7  225.4  226.0
19               316.8  336.1     350.0  381.7  399.2  367.2
20               307.4  266.8     454.6  269.9  329.2  206.8

### –í–∏—Å–Ω–æ–≤–∫–∏:  
- –£ –º—ñ—Å—Ç—ñ Mandalay:
  -- –ß–ª–µ–Ω–∏ –∫–ª—É–±—É –º–∞—é—Ç—å –≤–∏—â—ñ —Å–µ—Ä–µ–¥–Ω—ñ —á–µ–∫–∏ —É –ø–µ—Ä—ñ–æ–¥ 14.00-17.00 (–ø—ñ–∫–∏ –¥–æ 427 –≥—Ä–æ—à–æ–≤–∏—Ö –æ–¥–∏–Ω–∏—Ü—å)
  -- –ó–≤–∏—á–∞–π–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ –æ—Å–æ–±–ª–∏–≤–æ –∞–∫—Ç–∏–≤–Ω—ñ –∑ 17 –¥–æ 19 (—Ç—Ä–æ—Ö–∏ –≤–∏—â–µ 424 –≥—Ä–æ—à–æ–≤–∏—Ö –æ–¥–∏–Ω–∏—Ü—å)
- –£ –º—ñ—Å—Ç—ñ Naypyitaw:
  -- –ö–∞—Ä—Ç–∫–æ–≤—ñ –∫–ª—ñ—î–Ω—Ç–∏ —Ç–µ–∂ –ø–æ–∫–∞–∑—É—é—Ç—å –≤–∏—Å–æ–∫—ñ —Å—É–º–∏ —á–µ–∫–∞ –º—ñ–∂ 13:00 —ñ 15:00.
  -- –†–µ–∫–æ—Ä–¥–Ω–æ –≤–∏—Å–æ–∫–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ 454.6 –æ 20 ‚Äî —Ü–µ –∑–Ω–æ–≤—É Member-–∫–ª—ñ—î–Ω—Ç–∏, –æ—Ç–∂–µ –≤–µ—á—ñ—Ä —É Naypyitaw ‚Äî —ñ–¥–µ–∞–ª—å–Ω–∏–π –ø–µ—Ä—ñ–æ–¥ –¥–ª—è –∑–∞–ª—É—á–µ–Ω–Ω—è –ª–æ—è–ª—å–Ω–∏—Ö –ø–æ–∫—É–ø—Ü—ñ–≤.
- –£ –º—ñ—Å—Ç—ñ Yangon:
  -- –ß—ñ—Ç–∫–∏–π –ø—ñ–∫ –¥–ª—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ –∑ –∫–∞—Ä—Ç–∫–æ—é ‚Äî –æ 17 (417 –≥—Ä–æ—à–æ–≤–∏—Ö –æ–¥–∏–Ω–∏—Ü—å) —Ç–∞ –æ 19 (399 –≥—Ä–æ—à–æ–≤–∏—Ö –æ–¥–∏–Ω–∏—Ü—å)
  -- –£–Ω—ñ–∫–∞–ª—å–Ω—ñ—Å—Ç—å: —Ç—É—Ç "Members" –∫—É–ø—É—é—Ç—å –∑–Ω–∞—á–Ω–æ –±—ñ–ª—å—à–µ –≤–≤–µ—á–µ—Ä—ñ, –Ω—ñ–∂ "Normal".
  
–£ –≤—Å—ñ—Ö –º—ñ—Å—Ç–∞—Ö —î –≥–æ–¥–∏–Ω–Ω—ñ —Å–ª–æ—Ç–∏, –∫–æ–ª–∏ —á–ª–µ–Ω–∏ –∫–ª—É–±—É (Members) –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å —Å—É—Ç—Ç—î–≤–æ –±—ñ–ª—å—à–µ ‚Äî –ø–µ—Ä–µ–≤–∞–∂–Ω–æ –≤ –æ–±—ñ–¥ —Ç–∞ –≤–≤–µ—á–µ—Ä—ñ (13‚Äì17 —ñ 19‚Äì20).  
–ö–ª—ñ—î–Ω—Ç–∏ –±–µ–∑ –∫–∞—Ä—Ç–∫–∏ –ø–æ–∫–∞–∑—É—é—Ç—å –≤–∏—â—ñ —á–µ–∫–∏ –≤ –æ–∫—Ä–µ–º—ñ –ø—ñ–∫–æ–≤—ñ –≥–æ–¥–∏–Ω–∏ (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –æ 16 —ñ 18 —É Naypyitaw).


### –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:
- –ó–∞–ø—É—Å–∫ —Ç–∞—Ä–≥–µ—Ç–æ–≤–∞–Ω–∏—Ö –≤–µ—á—ñ—Ä–Ω—ñ—Ö –∞–∫—Ü—ñ–π –¥–ª—è –ª–æ—è–ª—å–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤ —É Yangon —ñ Naypyitaw (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –±–æ–Ω—É—Å–∏ –ø—ñ—Å–ª—è 17:00).  
- –ó–∞–ª—É—á–µ–Ω–Ω—è –∑–≤–∏—á–∞–π–Ω–∏—Ö –ø–æ–∫—É–ø—Ü—ñ–≤ —É Mandalay —á–µ—Ä–µ–∑ —Å—Ç–∏–º—É–ª–∏ –≤ –≥–æ–¥–∏–Ω–∏, –¥–µ –≤–æ–Ω–∏ –Ω–µ –∞–∫—Ç–∏–≤–Ω—ñ (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –æ–±—ñ–¥–Ω—ñ –∑–Ω–∏–∂–∫–∏).